## Last commit: 2026-08-31 18:41:40 UTC by admin
version 26.2R1.7;
system {
    host-name DC-1;
    login {
        user admin {
            uid 2000;
            class super-user;
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            tunnel-services;
            number-of-ports 12;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 172.16.3.0/31;
            }
            family mpls;
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 172.16.0.5/31;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        vlan-tagging;
        unit 11 {
            vlan-id 11;
            family inet {
                address 172.16.0.0/31;
            }
        }
        unit 201 {
            vlan-id 201;
            family inet {
                address 172.16.201.0/31;
            }
        }
    }
    ge-0/0/4 {
        vlan-tagging;
        unit 150 {
            vlan-id 150;
            family inet {
                address 192.168.150.2/24 {
                    vrrp-group 1 {
                        virtual-address 192.168.150.1;
                        accept-data;
                    }
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 301 {
            family inet {
                mtu 1500;
                address 172.16.201.11/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.0.0.11/32 {
                    primary;
                }
                address 10.1.1.1/32;
            }
        }
        unit 100 {
            family inet {
                address 10.100.0.11/32;
            }
        }
    }
}
policy-options {
    policy-statement export_into_ospf {
        term 1 {
            from protocol direct;
            then accept;
        }
    }
    policy-statement export_local {
        inactive: term Reject_from_BDs {
            from community Campus;
            then reject;
        }
        term 1 {
            from protocol direct;
            then accept;
        }
    }
}
routing-instances {
    VRF-1 {
        instance-type vrf;
        routing-options {
            multipath;
        }
        protocols {
            mvpn;
            ospf {
                area 0.0.1.45 {
                    interface ge-0/0/3.201;
                    interface all {
                        passive;
                    }
                }
                export export_into_ospf;
            }
            pim {
                rp {
                    static {
                        address 10.1.1.1;
                    }
                }
                interface all;
            }
        }
        vtep-source-interface lo0.0;
        interface ge-0/0/3.201;
        interface ge-0/0/4.150;
        interface lo0.100;
        route-distinguisher 10.0.0.11:1000;
        vrf-target target:65000:1000;
        vrf-table-label;
        provider-tunnel {
            rsvp-te {
                label-switched-path-template {
                    default-template;
                }
            }
        }
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 10.0.0.11;
    autonomous-system 65000;
    static {
        route 0.0.0.0/0 next-hop 172.16.0.1;
    }
}
protocols {
    bgp {
        group iBGP {
            type internal;
            local-address 10.0.0.11;
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            family inet-mvpn {
                signaling;
            }
            export export_local;
            neighbor 10.0.0.12;
        }
        group NCE {
            type internal;
            local-address 10.0.0.11;
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            family inet-mvpn {
                signaling;
            }
            export export_local;
            neighbor 10.0.0.1;
            neighbor 10.0.0.2;
            vpn-apply-export;
        }
    }
    mpls {
        label-switched-path DC-1_to_ABR-1 {
            to 10.0.0.1;
        }
        label-switched-path DC-1_to_DC-2 {
            to 10.0.0.12;
        }
        label-switched-path DC-1_to_ABR-2 {
            to 10.0.0.2;
        }
        interface ge-0/0/1.0;
        interface ge-0/0/0.0;
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface ge-0/0/0.0;
            interface lo0.0 {
                passive;
            }
            interface ge-0/0/1.0;
            interface ge-0/0/3.11;
        }
    }
    pim {
        rp {
            local {
                address 10.1.1.1;
            }
        }
        interface all;
    }
    rsvp {
        interface ge-0/0/1.0;
        interface ge-0/0/0.0;
    }
}