## Last commit: 2026-06-19 19:25:54 UTC by root
version 26.2R1.7;
system {
    host-name ABR-1;
    root-authentication {
        encrypted-password "$6$gn/6iwst$Z04aMVpR.6ZKSvqNx145X0jS6wxlIwf58WY0IKRQMszegOKBTTKsh0JCkG5YB8aFSTwSGZ3YGMqtFGX/xW.Rm0"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$a8gtkh9i$5J/ssCQEUCvE75Ln1/7f4Y7JtRZN9lFi6r01O/pjUx3iTSzYRl4c6KWU1SMT5woAKITG28xkfvBnDIA3J48m00"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            tunnel-services;
            number-of-ports 12;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 172.16.10.0/31;
            }
            family mpls;
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 172.16.0.4/31;
            }
            family mpls;
        }
    }
    ge-0/0/3 {
        vlan-tagging;
        unit 101 {
            vlan-id 101;
            family inet {
                address 172.16.3.0/31;
            }
        }
        unit 200 {
            vlan-id 200;
            family inet {
                address 172.16.200.0/31;
            }
        }
    }
    ge-0/0/4 {
        disable;
        unit 0 {
            family inet {
                address 172.16.3.5/31;
            }
        }
    }
    ge-0/0/5 {
        vlan-tagging;
        unit 50 {
            vlan-id 50;
            family inet {
                address 192.168.50.2/24 {
                    vrrp-group 1 {
                        virtual-address 192.168.50.1;
                        accept-data;
                    }
                }
            }
        }
    }
    ge-0/0/6 {
        unit 0 {
            family inet {
                address 172.16.4.0/31;
            }
            family mpls;
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.0.0.1/32 {
                    primary;
                }
            }
        }
        unit 100 {
            family inet {
                address 10.100.0.1/32 {
                    primary;
                }
                address 10.1.1.1/32;
            }
        }
    }
}
policy-options {
    policy-statement export_default {
        inactive: term peer {
            from {
                protocol local;
                neighbor 10.0.0.2;
            }
            then accept;
        }
        term 1 {
            from {
                protocol static;
                route-filter 0.0.0.0/0 exact;
            }
            then accept;
        }
        term 2 {
            then reject;
        }
    }
    policy-statement export_into_ospf {
        term 1 {
            from protocol [ direct static ];
            then accept;
        }
    }
    policy-statement export_local {
        term 1 {
            from protocol direct;
            then accept;
        }
    }
    policy-statement export_to_DCs {
        term direct {
            from protocol direct;
            then accept;
        }
        term static {
            from protocol static;
            then accept;
        }
    }
    policy-statement reject {
        term reject {
            then reject;
        }
    }
}
routing-instances {
    VRF-1 {
        instance-type vrf;
        routing-options {
            static {
                route 0.0.0.0/0 discard;
            }
            multipath;
        }
        protocols {
            msdp {
                group Campus {
                    local-address 10.100.0.1;
                    peer 10.100.0.2;
                }
            }
            mvpn;
            ospf {
                area 0.0.1.44 {
                    interface all {
                        passive;
                    }
                    interface ge-0/0/3.200;
                }
                export export_into_ospf;
            }
            pim {
                rp {
                    local {
                        address 10.1.1.1;
                    }
                }
                interface all;
            }
        }
        vtep-source-interface lo0.0;
        interface ge-0/0/3.200;
        interface ge-0/0/5.50;
        interface lo0.100;
        route-distinguisher 10.0.0.1:1000;
        vrf-target target:65000:1000;
        vrf-table-label;
        provider-tunnel {
            rsvp-te {
                label-switched-path-template {
                    default-template;
                }
            }
        }
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 10.0.0.1;
    autonomous-system 65000;
}
protocols {
    bgp {
        group iBGP {
            type internal;
            local-address 10.0.0.1;
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            family inet-mvpn {
                signaling;
            }
            export export_local;
            neighbor 10.0.0.40;
            vpn-apply-export;
        }
        group ABRs {
            type internal;
            local-address 10.0.0.1;
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            family evpn {
                signaling;
            }
            family inet-mvpn {
                signaling;
            }
            export export_local;
            neighbor 10.0.0.2;
            vpn-apply-export;
        }
        group NCE {
            type internal;
            local-address 10.0.0.1;
            family inet {
                unicast;
            }
            family inet-vpn {
                unicast;
            }
            family inet-mvpn {
                signaling;
            }
            export export_to_DCs;
            neighbor 10.0.0.11;
            neighbor 10.0.0.12;
            vpn-apply-export;
        }
    }
    mpls {
        label-switched-path ABR-1_to_vMX {
            to 10.0.0.40;
        }
        label-switched-path ABR-1_to_ABR-2 {
            to 10.0.0.2;
        }
        label-switched-path ABR-1_to_DC-1 {
            to 10.0.0.11;
        }
        interface ge-0/0/6.0;
        interface ge-0/0/0.0;
        interface ge-0/0/1.0;
    }
    ospf {
        traffic-engineering;
        area 0.0.0.0 {
            interface lo0.0 {
                passive;
            }
            interface ge-0/0/6.0;
            interface ge-0/0/0.0;
            interface ge-0/0/4.0;
            interface ge-0/0/1.0;
            interface ge-0/0/3.101;
        }
    }
    rsvp {
        interface ge-0/0/6.0;
        interface ge-0/0/0.0;
        interface ge-0/0/1.0;
    }
}