## Last commit: 2026-09-02 15:07:10 UTC by admin
version 26.2R1.7-EVOI20260619095247-evo-builder-1;
system {
    host-name BD-2;
    login {
        user admin {
            uid 2000;
            class super-user;
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
    ##
    ## Warning: configuration block ignored: unsupported platform (ptx10001-36mr)
    ##
    packet-forwarding-options {
        forwarding-profile {
            host-profile;
        }
    }
}
chassis {
    aggregated-devices {
        ethernet {
            device-count 3;
        }
    }
}
interfaces {
    et-0/0/0 {
        unit 0 {
            family inet {
                address 172.16.3.4/31;
            }
        }
    }
    et-0/0/1 {
        vlan-tagging;
        unit 102 {
            vlan-id 102;
            family inet {
                address 172.16.3.6/31;
            }
        }
        unit 202 {
            vlan-id 202;
            family inet {
                address 172.16.202.1/31;
            }
        }
    }
    et-0/0/2 {
        vlan-tagging;
        unit 12 {
            vlan-id 12;
            family inet {
                address 172.16.0.2/31;
            }
        }
        unit 203 {
            vlan-id 203;
            family inet {
                address 172.16.203.1/31;
            }
        }
    }
    et-0/0/3 {
        ether-options {
            802.3ad ae0;
        }
    }
    et-0/0/4 {
        ether-options {
            802.3ad ae1;
        }
    }
    et-0/0/5 {
        ether-options {
            802.3ad ae2;
        }
    }
    et-0/0/6 {
        vlan-tagging;
        unit 10 {
            vlan-id 10;
            family inet {
                address 172.16.5.1/31;
            }
        }
        unit 100 {
            vlan-id 100;
            family inet {
                address 172.16.100.1/31;
            }
        }
    }
    ae0 {
        esi {
            auto-derive {
                type-1-lacp;
            }
            all-active;
        }
        aggregated-ether-options {
            lacp {
                system-id 00:01:02:03:04:00;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v100;
                }
            }
        }
    }
    ae1 {
        esi {
            auto-derive {
                type-1-lacp;
            }
            all-active;
        }
        aggregated-ether-options {
            lacp {
                system-id 00:01:02:03:04:01;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v200;
                }
            }
        }
    }
    ae2 {
        esi {
            auto-derive {
                type-1-lacp;
            }
            all-active;
        }
        aggregated-ether-options {
            lacp {
                system-id 00:01:02:03:04:02;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v100;
                }
            }
        }
    }
    irb {
        unit 100 {
            virtual-gateway-accept-data;
            family inet {
                address 192.168.100.3/24 {
                    virtual-gateway-address 192.168.100.1;
                }
            }
        }
        unit 200 {
            virtual-gateway-accept-data;
            family inet {
                address 192.168.200.3/24 {
                    virtual-gateway-address 192.168.200.1;
                }
            }
        }
        unit 300 {
            family inet {
                address 172.16.200.102/24;
            }
        }
        unit 301 {
            family inet {
                address 172.16.201.102/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.0.0.102/32;
            }
        }
        unit 100 {
            family inet {
                address 10.100.0.102/32;
            }
        }
    }
    re0:mgmt-0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
forwarding-options {
    tunnel-termination;
    multicast-replication {
        evpn {
            irb enhanced-oism;
        }
    }
}
policy-options {
    policy-statement EVPN-T5-EXPORT {
        inactive: term RP {
            from {
                protocol bgp;
                route-filter 10.1.1.1/32 exact;
            }
            then accept;
        }
        term NON-HOST-IPV4 {
            from {
                protocol bgp;
                route-filter 0.0.0.0/0 prefix-length-range /0-/31;
            }
            then accept;
        }
        term direct {
            from protocol direct;
            then accept;
        }
        term ospf {
            from protocol ospf;
            then accept;
        }
        term REJECT {
            then reject;
        }
    }
    policy-statement export_local_to_ospf {
        term local_lan {
            from protocol direct;
            then accept;
        }
    }
}
routing-instances {
    MAC-VRF-1 {
        instance-type mac-vrf;
        protocols {
            igmp-snooping {
                vlan all;
            }
            evpn {
                encapsulation vxlan;
                extended-vni-list all;
                multicast-mode ingress-replication;
            }
        }
        vtep-source-interface lo0.0;
        service-type vlan-aware;
        interface ae0.0;
        interface ae1.0;
        interface ae2.0;
        route-distinguisher 10.0.0.102:100;
        vrf-target target:65000:100;
        inactive: multicast-snooping-options {
            oism {
                ##
                ## Warning: statement ignored: unsupported platform (ptx10001-36mr)
                ##
                conserve-mcast-routes-in-pfe;
            }
        }
        vlans {
            v100 {
                vlan-id 100;
                l3-interface irb.100;
                vxlan {
                    vni 100;
                }
            }
            v200 {
                vlan-id 200;
                l3-interface irb.200;
                vxlan {
                    vni 200;
                }
            }
        }
    }
    VRF-1 {
        instance-type vrf;
        routing-options {
            multipath;
        }
        protocols {
            evpn {
                default-gateway no-gateway-community;
                ip-prefix-routes {
                    advertise direct-nexthop;
                    encapsulation vxlan;
                    vni 1000;
                    export EVPN-T5-EXPORT;
                }
                inactive: oism {
                    supplemental-bridge-domain-irb irb.300;
                    inactive: pim-evpn-gateway;
                }
            }
            ospf {
                area 0.0.1.44 {
                    interface et-0/0/1.202;
                }
                area 0.0.1.45 {
                    interface et-0/0/2.203;
                }
                area 0.0.0.0 {
                    inactive: interface all {
                        passive;
                    }
                    interface et-0/0/6.100;
                }
                export export_local_to_ospf;
            }
            pim {
                rp {
                    static {
                        address 10.1.1.1;
                    }
                }
                interface lo0.100;
                interface all;
            }
        }
        vtep-source-interface lo0.0;
        interface et-0/0/1.202;
        interface et-0/0/2.203;
        interface et-0/0/6.100;
        interface irb.100;
        interface irb.200;
        interface lo0.100;
        route-distinguisher 10.0.0.102:1000;
        vrf-target target:65000:1000;
        vrf-table-label;
    }
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    router-id 10.0.0.102;
    autonomous-system 65000;
    rib-groups {
        multicast {
            import-rib [ VRF-1.inet.0 VRF-1.inet.2 ];
        }
    }
}
protocols {
    bgp {
        group BD {
            type internal;
            local-address 10.0.0.102;
            family inet {
                unicast;
            }
            family evpn {
                signaling;
            }
            neighbor 10.0.0.101;
        }
    }
    evpn {
        no-core-isolation;
    }
    ospf {
        area 0.0.0.0 {
            interface et-0/0/6.10;
            interface lo0.0 {
                passive;
            }
            interface et-0/0/2.12;
            interface et-0/0/1.102;
        }
    }
}