## Last commit: 2026-06-19 19:30:08 UTC by root
version 26.2R1.7;
system {
    host-name ABR-QFX;
    root-authentication {
        encrypted-password "$6$qHkOmi.G$Ha8p6Vpsdl6ebV4OA4yGKL0CJ92vZDPnMtxe5xnMAlttz6qFjMgZMMWeBW14rkNds9R.XsFZYiGhSpHfqALvH/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$9LiE57X5$McgYp.5i/TD24if.z3BEA949fL6kmYmLYtpLPxLmiHPpVBgqNoK19iOV9TFcmZY.V6B977WY75zYhAGZjfVzh1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
}
chassis {
    fpc 0 {
        pic 0 {
            number-of-ports 12;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v50;
                }
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v50;
                }
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members v50;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
vlans {
    v50 {
        vlan-id 50;
    }
}