## Last commit: 2026-09-05 02:25:14 UTC by admin
version 26.2R1.7;
system {
    host-name home1-ex4300-vc-fd-nh5302;
    root-authentication {
        encrypted-password "$6$B0pSirzH$duYgNTAIlJVS4b1t1KnnztLk86itg8wXUXEkllYHNnRq4n0q0D2ru2aG.Xmlc82X3EIk5n.7OLcGrgyP6snSb1"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$LjI5lesQ$zyTu2k5SGMzuFN0meEkne9RUdQjVMwNc74ZqWflcms4IZGDN2TCer2Nx5CWkK22E8H1JZwTxyA61rUbJcCf94/"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
    syslog {
        source-address 10.100.163.20;
    }
    ntp {
        source-address 10.100.163.20;
    }
}
chassis {
    redundancy {
        graceful-switchover;
    }
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
    fpc 0 {
        pic 0 {
            number-of-ports 12;
        }
    }
}
interfaces {
    interface-range edge_ports {
        member "ge-[0-9]/0/[2-47]";
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                storm-control ACCESS_STORM;
            }
        }
    }
    ge-0/0/0 {
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/1 {
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/2 {
        description "vQFX2 Access Port 1";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ge-0/0/3 {
        description "vQFX2 Access Port 2";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ge-0/0/4 {
        description "vQFX2 Access Port 3";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ge-0/0/5 {
        description "vQFX2 Access Port 4";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ge-0/0/6 {
        description "vQFX2 Access Port 5";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ge-0/0/7 {
        description "vQFX2 Access Port 6";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ge-0/0/8 {
        description "vQFX2 Access Port 7";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ge-0/0/9 {
        description "vQFX2 Access Port 8";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v200;
                }
            }
        }
    }
    ae0 {
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 163 {
            family inet {
                address 10.100.163.20/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet;
        }
    }
}
snmp {
    name home1-ex4300-vc-fd-nh5302;
    location <home><1><nh5302>;
    engine-id {
        local 10.100.163.20;
    }
    trap-options {
        source-address 10.100.163.20;
    }
}
forwarding-options {
    storm-control-profiles ACCESS_STORM {
        all {
            bandwidth-percentage 2;
            no-multicast;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.100.163.1;
    }
    inactive: nonstop-routing;
}
protocols {
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan all;
        vlan v200;
        vlan v300;
    }
    layer2-control {
        nonstop-bridging;
    }
    rstp {
        interface ae0 {
            disable;
        }
        interface all {
            edge;
        }
        bpdu-block-on-edge;
    }
}
switch-options {
    mac-notification;
    voip {
        interface edge_ports {
            vlan voip;
        }
    }
}
vlans {
    v163 {
        description management;
        vlan-id 163;
        l3-interface irb.163;
    }
    v200 {
        vlan-id 200;
    }
    voip {
        vlan-id 1111;
    }
}

{master}