## Last commit: 2026-09-05 01:45:59 UTC by admin
version 26.2R1.7;
system {
    host-name home1-ex4300-vc-fd-dh4301;
    root-authentication {
        encrypted-password "$6$qHkOmi.G$Ha8p6Vpsdl6ebV4OA4yGKL0CJ92vZDPnMtxe5xnMAlttz6qFjMgZMMWeBW14rkNds9R.XsFZYiGhSpHfqALvH/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2000;
            class super-user;
            authentication {
                encrypted-password "$6$9LiE57X5$McgYp.5i/TD24if.z3BEA949fL6kmYmLYtpLPxLmiHPpVBgqNoK19iOV9TFcmZY.V6B977WY75zYhAGZjfVzh1"; ## SECRET-DATA
            }
        }
    }
    services {
        netconf {
            ssh;
        }
        ssh {
            root-login allow;
        }
    }
    management-instance;
    syslog {
        source-address 10.100.163.10;
    }
    ntp {
        source-address 10.100.163.10;
    }
}
chassis {
    redundancy {
        graceful-switchover;
    }
    aggregated-devices {
        ethernet {
            device-count 1;
        }
    }
    fpc 0 {
        pic 0 {
            tunnel-services;
            number-of-ports 12;
        }
    }
}
interfaces {
    interface-range edge_ports {
        member "ge-[0-9]/0/[2-47]";
        unit 0 {
            family ethernet-switching {
                interface-mode access;
                storm-control ACCESS_STORM;
            }
        }
    }
    ge-0/0/0 {
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/1 {
        gigether-options {
            802.3ad ae0;
        }
    }
    ge-0/0/2 {
        description "vQFX1 Access Port 1";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ge-0/0/3 {
        description "vQFX1 Access Port 2";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ge-0/0/4 {
        description "vQFX1 Access Port 3";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ge-0/0/5 {
        description "vQFX1 Access Port 4";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ge-0/0/6 {
        description "vQFX1 Access Port 5";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ge-0/0/7 {
        description "vQFX1 Access Port 6";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ge-0/0/8 {
        description "vQFX1 Access Port 7";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ge-0/0/9 {
        description "vQFX1 Access Port 8";
        unit 0 {
            family ethernet-switching {
                vlan {
                    members v100;
                }
            }
        }
    }
    ae0 {
        aggregated-ether-options {
            lacp {
                active;
            }
        }
        unit 0 {
            family ethernet-switching {
                interface-mode trunk;
                vlan {
                    members all;
                }
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address 10.0.0.15/24;
            }
            family inet6 {
                address 2001:db8::2/64;
            }
        }
    }
    irb {
        unit 163 {
            family inet {
                address 10.100.163.10/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet;
        }
    }
}
snmp {
    name home1-ex4300-vc-fd-dh4301;
    location <home><1><dh4301>;
    engine-id {
        local 10.100.163.10;
    }
    trap-options {
        source-address 10.100.163.10;
    }
}
forwarding-options {
    storm-control-profiles ACCESS_STORM {
        all {
            bandwidth-percentage 2;
            no-multicast;
        }
    }
}
routing-instances {
    mgmt_junos {
        routing-options {
            rib mgmt_junos.inet6.0 {
                static {
                    route ::/0 next-hop 2001:db8::1;
                }
            }
            static {
                route 0.0.0.0/0 next-hop 10.0.0.2;
            }
        }
    }
}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 10.100.163.1;
    }
    inactive: nonstop-routing;
}
protocols {
    lldp {
        port-id-subtype interface-name;
        interface all;
    }
    lldp-med {
        interface all;
    }
    igmp-snooping {
        vlan all;
    }
    layer2-control {
        nonstop-bridging;
    }
    rstp {
        interface ae0 {
            disable;
        }
        interface all {
            edge;
        }
        bpdu-block-on-edge;
    }
}
switch-options {
    mac-notification;
    voip {
        interface edge_ports {
            vlan voip;
        }
    }
}
vlans {
    v100 {
        vlan-id 100;
    }
    v163 {
        description management;
        vlan-id 163;
        l3-interface irb.163;
    }
    voip {
        vlan-id 1111;
    }
}

{master}